.saved-news {
  background-color: #f9f9f9;
  color: black;
  font-family: Roboto, Inter, sans-serif;
  min-height: calc(100vh - 88px);
}

.saved-news__title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 0;
  padding: 40px 0 56px;
  background-color: #ffffff;
}

.saved-news__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 28px;
  color: #1a1b2280;
}

@media (min-width: 550px) and (max-width: 885px) {
  .saved-news__title {
    font-size: 14px;
  }
}

.saved-news__keywords {
  padding: 0;
  margin: 30px 0 0;
  font-size: 18px;
}

.saved-news__keywords-label {
  font-weight: 400;
}

.saved-news__keywords-values {
  font-weight: 700;
}

.saved-news__subtitle {
  font-size: 40px;
  margin: 0;
  padding: 0;
  line-height: 46px;
  font-weight: 400;
}

@media (max-width: 812px) {
  .saved-news__subtitle {
    font-size: 30px;
    line-height: 34px;
  }

  .saved-news__keywords {
    margin-top: 16px;
  }
}

.saved-news__grid {
  display: grid;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 62px 0;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (min-width: 452px) and (max-width: 1100px) {
  .saved-news__grid {
    padding: 32px 0;
    gap: 8px;
  }

  .saved-news__title-container {
    padding: 24px 0 32px;
  }

  .saved-news__title {
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 451px) {
  .saved-news__title-container {
    padding: 8px 0 32px;
  }

  .saved-news__title {
    padding-bottom: 16px;
  }

  .saved-news__keywords {
    margin-top: 50px;
  }
}

@media (min-width: 549px) and (max-width: 765px) {
  .saved-news__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 548px) {
  .saved-news__grid {
    grid-template-columns: 1fr;
    padding: 24px 0 12px;
    gap: 10px;
  }
}
