.about__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  /* todo: address this gap */
}

.about {
  background-color: white;
  color: black;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about__image {
  flex: 1 1 0;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  min-width: 200px;
  aspect-ratio: 1 / 1;
  opacity: 0.3;
}

.about__image:hover {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.about__text {
  flex: 1 1 0;

  min-width: 200px;
}

.about__title {
  font-size: 2.5rem;
  margin: 0;
  line-height: 40px;
}

.about__paragraph {
  font-size: 16px;
}

@media (max-width: 612px) {
  .about__container {
    flex-direction: column;
    text-align: center;
  }

  .about {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .about__image {
    width: 272px;
    height: 272px;
  }
  .about__title {
    line-height: 40px;
    font-size: 30px;
  }
}

@media screen and (min-width: 606px) and (max-width: 1050px) {
  .about {
    padding-top: 40px;
    padding-bottom: 45px;
  }
}
@media screen and (min-width: 380px) and (max-width: 606px) {
  .about {
    padding-top: 40px;
    padding-bottom: 45px;
  }
}

@media screen and (max-width: 379px) {
  .about {
    padding-top: 32px;
    padding-bottom: 126px;
  }
}
/* “Collapse” (hide) paragraphs 2 and 3 between 610px and 764px */
@media (min-width: 610px) and (max-width: 764px) {
  /* select the 2nd and 3rd <p> inside .about__text and hide them */
  .about__text p:nth-of-type(2),
  .about__text p:nth-of-type(3) {
    display: none;
  }
}
