.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 28px 0;
  color: white;
  font-family: "Roboto Slab", serif;
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  position: absolute;
  left: 104px;
  top: 30px;
}
