.hero {
  background-image: url("/src/assets/images/home--bkgrnd.png");
  background-size: cover;
  background-position: center;

  color: white;
  background-attachment: fixed;
}

/* .hero {
  background-image: url("/src/assets/images/home--bkgrnd.png");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  padding-top: 0;
} */
