.hero .header__logo,
.hero .navigation__link,
.hero .navigation__button {
  color: white;
}

.hero {
  background-image: url("/src/assets/images/home--bkgrnd.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
