/* .hero {
  position: relative;
} */

.hero {
  position: relative;
  background-image: url("../assets/hero-bg.jpg"); /* change this to your actual path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
