@keyframes fadeInSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.navigation {
  font-family: "Roboto", "Inter", sans-serif;
  display: flex;
  align-items: center;
  position: relative;
}

.navigation--animate {
  opacity: 0;
  transform: translateX(30px);
  animation: fadeInSlideLeft 1s ease-out forwards;
}

.navigation__links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* gap: 44px; */
}

.navigation__link-home,
.navigation__link-saved,
.navigation__link {
  position: relative;
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin: 0;
  min-width: 68px;
}

.navigation__link-home {
  margin-right: 44px;
}

.navigation__link-saved {
  margin-right: 32px;
  padding: 0 22px;
}

.navigation__link-home:hover,
.navigation__link-saved:hover,
.navigation__button-logout:hover,
.navigation__modal-close:hover,
.navigation__hamburger--close:hover {
  color: inherit;
  opacity: 0.8;
  transform: scale(1.05);
}

.navigation__link--active::after,
.navigation__link--white::after,
.navigation__link--black::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: currentColor;
}

.navigation__link--active::after {
  bottom: -26px;
}

.navigation__username--light {
  color: #ffffff;
}

.navigation__username--dark {
  color: #000000;
}

.navigation__username {
  font-family: "Roboto", "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.navigation__button-signin,
.navigation__button-logout {
  font-size: 18px;
  padding: 12px 18px;
  border-radius: 25px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 24px;
  cursor: pointer;
}

.navigation__button-signin {
  min-width: 152px;
  border: 1px solid white;
}

.navigation__button-logout {
  min-width: 120px;
  border: 1px solid #d1d2d6;
  justify-content: space-between;
  margin-left: auto;
}

.navigation__logout-icon {
  width: 24px;
  height: 24px;
  margin-left: 0;
}

.navigation__dropdown {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: calc(100vh - 230px);
  width: 100%;
  background-color: #1a1b22;
  border-radius: 0 0 12px 12px;
  overflow-y: auto;
  z-index: 999;
}

.navigation__dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  font-family: "Roboto", "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: inherit;
}

.navigation__dropdown-divider {
  margin: 0;
  border: none;
  border-top: 1px solid #333333;
}

.navigation__dropdown-item {
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}

.navigation__button--dropdown {
  width: calc(100% - 40px);
  margin: 16px 20px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: #ffffff;
  padding: 14px 0;
  border-radius: 24px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.navigation__hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0 0;
  padding: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  z-index: 1001;
}

.navigation__hamburger-icon {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
}

.navigation__hamburger--close {
  background-color: transparent;
  border: none;
}

@media (max-width: 625px) {
  .navigation__links {
    display: none;
  }
}

@media (min-width: 625px) {
  .navigation__hamburger-icon {
    display: none;
  }
}

.is-hidden {
  display: none !important;
}

.icon-wrapper {
  display: inline-flex;
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
}

.icon-wrapper button {
  all: unset;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper img,
.navigation__modal-close img,
.navigation__dropdown-close img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.navigation__modal-close {
  position: fixed;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.navigation__dropdown-logo {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
}

.navigation__dropdown-close {
  all: unset;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
