.news-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  max-width: 400px;
  height: 576px;
}

.news-card__image-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.news-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.news-card__save-wrapper {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 2;
}

.news-card__tooltip {
  background-color: white;
  border-radius: 8px;
  font-size: 12px;
  padding: 6px 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  display: none;
  white-space: nowrap;
  color: #1a1a1a;
}

.news-card__save-wrapper:hover .news-card__tooltip {
  display: block;
}

/* .news-card__info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
} */

.news-card__info {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.news-card__date {
  font-size: 12px;
  color: #b6bcbf;
  margin: 0;
}

.news-card__title {
  font-size: 18px;
  font-weight: 700;
  color: #1a1a1a;
  margin: 0;
}

.news-card__description {
  font-size: 14px;
  color: #1a1a1a;
  margin: 0;
}

/* .news-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
} */

.news-card__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .news-card__source {
  font-size: 12px;
  color: #b6bcbf;
  position: absolute;
  left: 24px;
  bottom: 24px;
} */

.news-card__source {
  font-size: 12px;
  color: #b6bcbf;
}

.news-card__save-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.news-card__save-icon:hover {
  opacity: 2;
}
