.saved-news {
  padding: 64px 0;
  background-color: #f9f9f9;
  color: black;
  font-family: "Roboto", "Inter", sans-serif;
}

.saved-news__title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  margin-bottom: 16px;
  color: #1a1b2280;
}

.saved-news__subtitle {
  font-size: 40px;
  margin-bottom: 32px;
}

.saved-news__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (min-width: 1024px) {
  .saved-news__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
