.saved-news {
  padding: 64px 0;
  background-color: #f9f9f9;
  color: black;
  font-family: "Roboto", "Inter", sans-serif;
  /* padding-top: 40px; */

  /* padding-top: 0; */
  /* margin-top: 0; */
  /* background-color: pink; */
}

.saved-news__title-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin: 0;

  padding-top: 40px;

  padding-bottom: 56px;

  background-color: #ffffff;
}

.saved-news__title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  /* margin-bottom: 16px; */
  margin: 0;
  padding: 0;
  padding-bottom: 28px;
  color: #1a1b2280;
  /* margin-top: 40px; */
  /* padding-top: 40px; */
}

.saved-news__subtitle {
  font-size: 40px;
  /* margin-bottom: 32px; */
  margin: 0;
  padding: 0;
  line-height: 46px;
}

.saved-news__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
  padding-top: 62px;
  padding-bottom: 62px;
}

@media screen and (min-width: 1024px) {
  .saved-news__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
