.nothing-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 86px;
  padding-bottom: 80px;
  font-family: Roboto, Inter, sans-serif;
  background-color: #f5f6f7;
  text-align: center;
}

.nothing-found__image {
  width: 82px;
  height: 82px;
}

.nothing-found__title {
  font-size: 24px;
  font-weight: 500;
  color: #1a1a1a;
  margin: 0;
  margin-bottom: 16px;
  margin-top: 31px;
}

.nothing-found__text {
  font-size: 18px;
  color: #b6bcbf;
  max-width: 320px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}
