#root {
  width: 100%;

  margin: 5px;
  /* background-color: #f9f9f9; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* todo: investigate everything in here */

/* 1) Desktop (≥ 1025px): 100px gutters on each side */
.section-inner {
  width: 100%;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}

/* 2) Tablet (≤ 1024px and ≥ 401px): 40px gutters on each side */
@media (max-width: 1024px) and (min-width: 401px) {
  .section-inner {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* 3) Mobile (≤ 400px): 16px gutters on each side */
@media (max-width: 400px) {
  .section-inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}
